<div class="about">
  <img src="../../assets/pic.jpg" alt="bulb" class="banner" />

  <h2>ABOUT FASSA INNOTECH</h2>
  <hr />
  <div class="abt-content">
    <img src="../../assets/abtpic.jpg" alt="bulb" class="abt-img" />
    <div class="abt-text">
      <p>
        FASSA Innotech is a hackaton for students in the faculty science and
        students of educatio sciences aimed at providing solutions for societal
        problems by challenging students and rewarding outstanding ideas with
        prizes. it is an innitiative of the incubent president of the
        prestigious faculty of science.
      </p>
    </div>
  </div>
</div>
