.contact {
  margin: 0em -1em;
  background-color: rgb(219, 216, 216);
}
h2 {
  margin-top: 2em;
  margin-bottom: -0.2em;
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

hr {
  border: 1.5px solid black;
}

form {
  max-width: 50%;
  padding: 2em;
}
input {
  margin: 1em 2em;
  padding: 0.5em 5em;
}

em {
  
  color: #e05c65;
  padding-left: 5px;
}
.error input {
  background-color: #e3c3c5;
}
.error ::-webkit-input-placeholder {
  color: #999;
}
.error :-moz-placeholder {
  color: #999;
}
.error ::-moz-placeholder {
  color: #999;
}
.error :ms-input-placeholder {
  color: #999;
}
